@tailwind base;
@tailwind components;
@tailwind utilities;



:root{
    color: white;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#card {
    box-shadow: none;
    backface-visibility: visible;
    padding: 0;
    transition: all 0.2s ease-out;


}


main{
    overflow: hidden;
    /* background: repeating-radial-gradient(#544a4a, #000000 50px); */
/* backdrop-filter: blur(10px); */
background: rgb(0,0,0);
background: radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(255,255,255,1) 50%, rgba(0,0,0,1) 100%);
background: rgb(255,255,255);
background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(0,250,255,1) 52%, rgba(0,0,0,1) 100%);
}



.cube {
    
    overflow: visible;
    border: 1px solid greenyellow;
    position: relative;
    width: 100vw;
    height: 100vh;
    
    transform-style: preserve-3d;
    perspective: 20000px;
    perspective-origin: center;
    

}

.face {
    
    position: absolute;
    border: 2px solid rgb(255, 255, 255);
    box-sizing: border-box;
  

}


.face-reflex{
    background-color: rgba(255, 255, 255, 0);
    transform: translateZ(51px);
    background: radial-gradient(circle,rgba(199, 198 ,243, 0.2) 0%, rgba(0, 0, 0, 0) 100%);
}
.float {
    padding: 5vmax;
    width: 100vw;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0);
    transform: translateZ(100px);
}


.front {
    width: 100vw;
    height: 100vh;
    background-color: rgba(115, 227, 10, 0.444);
    transform: translateZ(50px);
}





 .left {
    width: 100px;
    height: 100vh;
    background-color: rgb(3, 255, 3);
    transform: rotateY(-90deg) translateZ(50px);
}

.right {
    width: 100px;
    height: 100vh;
    background-color: rgb(17, 105, 200);
    transform: rotateY(90deg) translateZ(calc(100vw - 50px) );
}

.top {
    width: 100vw;
    height: 100px;
    background-color: rgb(180, 62, 145);
    transform: rotateX(-90deg) translateZ(-50px);
}
.bottom {
    background-color: rgb(2, 0, 2);
    width: 100vw;
    height: 100px;
    background-color: rgb(17, 105, 200);
    transform: rotateX(-90deg) translateZ(calc(100vh - 50px));
    
}



#matrix {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: black;
    color: green;
    font-family: "Courier New", monospace;
    font-size: 16px;
    line-height: 1;
    overflow: hidden;
  }