
.project{
  

    color: #ffffff;
    background-color:#161718;
    border-radius: 5px;
    overflow: hidden;
    text-align: center;
    box-sizing: border-box;
    margin-inline: max(3vh, 1rem) 1.5rem; 

}

.description-project{
    font-size: clamp(1rem, 4vw + .5rem , 1.3rem);
    color: #cbcbcb;
    margin-inline: max(3vh, 1rem) 1.5rem;

}



.title-project{
    font-size: clamp(2rem, 5vw + .5rem , 3rem);

}

links-project{
    font-size: clamp(1rem, 4vw + .5rem , 1.4rem);
}
.img-project{
    max-height: 300px;
    height: 100vh;
}
@media screen and (max-width: 900px ) {
    
    .project{
        flex-direction: column;
    }
}
