
.project{
  

    color: #ffffff;
    background-color:#161718;
    border-radius: 5px;
  
    text-align: center;

    padding: max(3vh, 1rem) 1.5rem;
    margin-inline: max(3vh, 1rem) 1.5rem; ;

}

.description-project{
    font-size: clamp(1rem, 5vw + .5rem , 1.5rem);
    color: #cbcbcb;

}



.title-project{
    font-size: clamp(2rem, 5vw + .5rem , 3rem);
    text-align: center;

}

links-project{
    font-size: clamp(1rem, 4vw + .5rem , 1.4rem);
}

@media screen and (max-width: 750px ) {
    
    .project{
        flex-direction: column;
    }
}
